.one, .two, .three {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 20px 20px;
  background-color: white;
}

.five, .six {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 20px 20px;
  background-color: white;
}

.one {
	background-color: white;
}
.two {
	background-color: white;
}
.four {
	  width: 100px;
	  height: 100px;
	  display: inline-block;
	  margin: 20px 20px;
	  background-color: white;
}

.seven {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px 20px;
    background-color: white;
}

.eight {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px 20px;
    background-color: white;
}

.nine {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px 20px;
    background-color: white;
}
.hidden {
	display: none;
}
 .border {
  background-color: red;
 }

 .blue {
  background-color: blue;
 }